@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 10%;
    --primary: 213 94% 94%;
    --primary-foreground: 240 10% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --border: 240 6% 90%;
    --destructive: 0 89% 54%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
    --grey: 240 5% 95%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 240 5% 96%;
    --card: 240 10% 13%;
    --card-foreground: 240 5% 96%;
    --primary: 220 5% 34%;
    --primary-foreground: 240 5% 96%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;
    --border: 240 5% 22%;
    --destructive: 0 62% 50%;
    --destructive-foreground: 0 0% 100%;
    --grey: 220 5% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Poppins", ui-sans-serif, system-ui, sans-serif;
  }
}
